<div class="section">


  <div class="sidebar">
    <%= link_to image_tag('bigj_blue.png', class: 'logo', alt: 'big j logo'), '#' %>
    <%= link_to image_tag('email.png', class: 'contact', alt: 'email', title: 'Email'), 'mailto:datasense13@gmail.com?Subject=Hello', target: '_top'  %>
    <%= link_to image_tag('linkedin.png', alt: 'linkedin', class: 'contact', title: 'LinkedIn'), 'https://www.linkedin.com/in/jbzozowski/', target: '_blank' %>
    <%= link_to image_tag('github.png', class: 'contact', alt: 'github', title: 'GitHub'), 'https://github.com/jbzozowski', target: '_blank'  %>
    <%= link_to image_tag('resumeicon.png', class: 'resume', alt: 'resume', title: 'Resume'), download_pdf_path %>
  </div>


  <div class="border">

    <div class="title">
      <%= image_tag('badge.png', class: 'pbibadge', alt: 'power bi badge') %>

      <%= image_tag('powerbi_horiz_gold.png', class: 'powerbi', alt: 'powerbi logo') %>

      <h2>Sample Reports</h2>
      <p>created by Julius Bzozowski</p>

    </div>

    <div class="reports">
      <h3>Uber Eats</h3>
      <p>A Power BI report that captures my Uber East delivery data:
          Total Income, Total Trips, Average Trips/Day.
      </p>
    </div>

      <div class="rep-container reports">
        <iframe class="frame" src="https://app.powerbi.com/view?r=eyJrIjoiMzc3NjcxZjEtMjE5Mi00MWM4LWFjYTctOWY1NDA2OWYwZDM1IiwidCI6IjEzODQ1YzhlLTQ3MTYtNDA3NC05ZGM5LTg1NTE2MzY5MTJmMSIsImMiOjJ9" frameborder="0" allowFullScreen="true"></iframe>
      </div>

    <div class="reports">
      <h3>Manny vs. Bryce</h3>
      <p>Using baseball statistics from the 2019 season I created a report
        that compared the performance of Manny Machado to Bryce Harper to see
        which team got the better deal.
      </p>
    </div>

    <div class="rep-container reports">
        <iframe class="frame" src="https://app.powerbi.com/view?r=eyJrIjoiNjliYWM0OTAtM2EyMi00NDkwLWFlYTAtZGFlMjc3YmJiMTFlIiwidCI6IjEzODQ1YzhlLTQ3MTYtNDA3NC05ZGM5LTg1NTE2MzY5MTJmMSIsImMiOjJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>


    <div class="reports">
      <h3>Adventure Works</h3>
      <p>Final project from the Maven Analytics course on Udemy, <%= link_to  'Microsoft Power BI - Up & Running With Power BI Desktop', 'https://www.udemy.com/course/microsoft-power-bi-up-running-with-power-bi-desktop/', target: '_blank' %>,
        that contains visualization for an Executive Summary, Product Detail, and Customer Detail.</p>
       <p>This course is the BEST! Extremely well presented with in-depth content, examples, and opportunities to
        work with and practice all the capabilities of Power BI.
      </p>
    </div>

    <div class="rep-container reports">
      <iframe class='frame' src="https://app.powerbi.com/view?r=eyJrIjoiYjU5NDE4NGUtZGZjMy00YmEyLTgyYzUtYzY0ODVjMTFmMjI1IiwidCI6IjEzODQ1YzhlLTQ3MTYtNDA3NC05ZGM5LTg1NTE2MzY5MTJmMSIsImMiOjJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>



  </div>


</div>

